extends ../layouts/small-header
block content
  .container
    h2 Discover

    each obj, index in objects
      div.object
        img(src="http://3d-xplormath.org/ExampleImages/Breather.png")
        label.number= index + 1
        div.actions
