extends ../layouts/home
block content
  .container
    h2 Discover

    each obj, index in objects
      div.object
        a(href= '/discover/' + obj._id)
          if obj.img
            img(src= obj.img)
          else
            span.no-image
          label.meta= obj._id
        div.actions
