extends ../layouts/default

block content
  .container.shapes
    .col-xs-4
      a.pyramid: h1 Upcoming Intimacy Labs
    .col-xs-4
      a.cube: h1 Explore
    .col-xs-4
      a.pyramid: h1 Upcoming Intimacy Labs

  .container.counter

  .container.upcoming-labs

  .container.explore