extends ../layouts/home

block content
  #home
    .container
      .shapes
        .col-xs-4
          a.cube(href="/labs"): h2 Intimacy Labs
        .col-xs-4
          a.torus(href="#explore"): h2 Explore
        .col-xs-4
          a.pyramid(href="#about"): h2 About

    .container
      .counter
        each digit in objectCount.toString()
          span.digit= digit
        span.label|  objects created

      .counter.invert
        each digit in momentCount.toString()
          span.digit= digit
        span.label|  intimate moments

    .container
      #upcoming-labs
        h2 Upcoming Intimacy Labs

        != texts.labs.content.html

        ul.list-unstyled
          each lab in upcomingLabs
            li
              a(href="/labs/"+lab.id)
                span.date= moment(lab.date).format("DD/MM/YY")
                span.location= lab.location.suburb
                span.arrow.pull-right &rarr;
                span.register.pull-right.hidden-xs Join this lab

    .container
      #explore
        h2 Explore
        a.square.polka(href="/labs")
          .content
            span Labs
        a.square.dashed-right(href="/practice")
          .content
            span Practice
        a.square.dashed-left(href="/question")
          .content
            span Question
        span.square.crossed(href="/discover")
          .content
            span Discover
        span.square.hatched(href="/field-guide")
          .content
            span Field Guide

    .container
      #about
        h2 About
        - var about = texts.about.content.html.split('\n')
        != about[0]
        p
          a.show-more(href="#about-more", data-toggle="collapse", data-target="#about .more", onclick="$(this).remove()") Read more...

        #about-more.more.collapse
          - about.shift()
          !=about.join('\n')

    .container
      #contact
        h2 Contact
        p For more information please contact us <a href="mailto:cassie@intimateobjects.io">here</a>

block js
  script(src='/js/lib/three.min.js')
  script(src='/js/home.js')
