extends ../layouts/default

block content
  #home
    .container.shapes
      .col-xs-4
        a.pyramid: h3 Upcoming Intimacy Labs
      .col-xs-4
        a.cube: h3 Explore
      .col-xs-4
        a.pyramid: h3 Upcoming Intimacy Labs

    .container.counter
      each digit in objectCount.toString()
        span.digit= digit
      span|  objects created

    .container.upcoming-labs
      h3 Upcoming Intimacy Labs
      a.h3.pull-right(href="/labs/register") Register interest

      ul.list-unstyled
        each lab in upcomingLabs
          li
            a(href="/labs/"+lab.id): span= moment(lab.date).format("DD/MM/YY")

    .container.explore
      h3 Explore
      .row
        .col-xs-3
          a.polka Design
        .col-xs-3
          a.dashed-right Thinker
        .col-xs-3
          a.hatched Discover
        .col-xs-3
          a.dashed-left Invite
      .row
        .col-xs-3
          a.dashed-left Practice
        .col-xs-3
          a.hatched Reflect
        .col-xs-3
          a.dashed-right Workshop
        .col-xs-3
          a.polka Question