extends ../layouts/default

block content
  #home
    .container.shapes
      .col-xs-4
        a.pyramid: h2 Upcoming Intimacy Labs
      .col-xs-4
        a.cube: h2 Explore
      .col-xs-4
        a.pyramid: h2 Upcoming Intimacy Labs

    .container.counter
      each digit in objectCount.toString()
        span.digit= digit
      span|  objects created

    .container.upcoming-labs
      h2 Upcoming Intimacy Labs
      a.h2.pull-right(href="/labs/register") Register interest

      ul
        each lab in upcomingLabs
          li
            a(href=lab.id)= lab.name
            span.pull-right= lab.date

    .container.explore