extends ../layouts/home

block content
  #home
    .container
      .shapes
        .col-xs-4
          a.cube(href="#upcoming-labs"): h2 Intimacy Labs
        .col-xs-4
          a.torus(href="#explore"): h2 Explore
        .col-xs-4
          a.pyramid(href="#upcoming-labs"): h2 About

    .container
      .counter
        each digit in objectCount.toString()
          span.digit= digit
        span.label|  objects created

      .counter.invert
        each digit in momentCount.toString()
          span.digit= digit
        span.label|  intimate moments

    .container
      #upcoming-labs
        h2 Upcoming Intimacy Labs
        ul.list-unstyled
          each lab in upcomingLabs
            li
              a(href="/labs/"+lab.id)
                span.date= moment(lab.date).format("DD/MM/YY")
                span.location= lab.location.suburb
                span.arrow.pull-right &rarr;
                span.register.pull-right.hidden-xs Join this lab

    .container
      #explore
        h2 Explore
        a.square.polka(href="/labs")
          .content
            span Labs
        a.square.dashed-right(href="/practice")
          .content
            span Practice
        a.square.dashed-left(href="/question")
          .content
            span Question
        span.square.crossed(href="/discover")
          .content
            span Discover
        span.square.hatched(href="/field-guide")
          .content
            span Field Guide

    .container
      #about
        h2 About

        p We know that the idea of ‘intimate objects’ will mean something very different to everyone that arrives here.  It might bring to mind sex, sexual intimacy, or intimacy that exists beyond or outside either of those things. We’ve created this space for each person to interpret and explore what that means for them and where they’d like to, sharing that with others.

        p
          a.show-more(data-toggle="collapse", data-target="#about .more") Read more...

        .more.collapse
          p The questions that brought us here were these - Where are the conversations about sex that value it as a space for life-long learning, or that allow us to acknowledge the fluidity of our sexual identities throughout our lives, and potential of this? Where are the conversations that link our sexual expression to wellbeing - the emotional and physiological wellbeing that has a different quality and necessity to it than ‘sexual health’? And where is the space that lets us really imagine and craft our own sexual exprience's away from the glare of what we are told we should be like or should prefer?
          p It was all very focussed on sex and sexual intimacy.
          p Then as the idea developed and as we also developed the Intimacy Labs, we realised that what people were designing wasn’t always so easily categorised as being about sex. People were also designing objects and having ideas about how to just connect with one another. These objects were about building and deepening intimacy.
          p We really care about sex, and about breaking through all the taboo because we stand for a world that is open and accepting . But we don’t want to ignore those moments of intimacy, that can exist across our lives, and not just in relation to sex.
          p Explore, play, tinker, question, listen, be aware and come with curiosity. You can also take part in our research.

    .container
      #contact
        h2 Contact
        p For more information please contact us <a mailto:"cassie@intimateobjects.io">here</a>

block js
  script(src='/js/lib/three.min.js')
  script(src='/js/home.js')
