extends ../layouts/home

block content
  #home
    .container
      .shapes
        .col-xs-4
          a.cube(href="#upcoming-labs"): h3 Intimacy Labs
        .col-xs-4
          a.torus(href="#explore"): h3 Explore
        .col-xs-4
          a.pyramid(href="#upcoming-labs"): h3 About

    .container
      //#counter
      //  each digit in objectCount.toString()
      //    span.digit= digit
      //  span|  objects created

    .container
      #upcoming-labs
        h3 Upcoming Intimacy Labs
        ul.list-unstyled
          each lab in upcomingLabs
            li
              a(href="/labs/"+lab.id)
                span.date= moment(lab.date).format("DD/MM/YY")
                span.location= lab.location.suburb
                span.arrow.pull-right &rarr;
                span.register.pull-right.hidden-xs Register interest

    .container
      #explore
        h3 Explore
        a.square.polka(href="/explore/design")
          .content
            span Design
        a.square.dashed-right(href="")
          .content
            span Field Guide
        a.square.hatched(href="/explore/practice")
          .content
            span Practice
        a.square.dashed-left(href="")
          .content
            span Question
        a.square.crossed(href="")
          .content
            span Labs

    .container
      #about
        h3 About
        p Intimate Objects cares about developing a world of deepening intimacy &ndash; part sexual intimacy and part intimacy that exists beyond or outside either of those things. It’s all about each person interpreting what that means for themselves, and where they’d like to, sharing that with others.

    .container
      #contact
        h3 Contact
        p For more information please contact <a mailto:"cassie@cassierobinson.net">cassie@cassierobinson.net</a>

block js
  script(src='/js/lib/three.min.js')
  script(src='/js/home.js')
