extends ../layouts/home

block content
  .container
    h2 practice
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim..

    section
      h3.box Where to start?

    section
      h3.box Some visual inspiration

    section
      h3.box Something to try

block js
  script(src='/js/lib/three.min.js')
  script(src='/js/home.js')
