extends ../layouts/small-header

block content
  #questionnaires
    .container
      h3 Questionnaires
      ul.list-unstyled
        each q in questionnaires
          li: a(href="/question/"+q._id)= q.name
      