extends ../layouts/home
block content
  .container
    .row
      .col-sm-6
        .object
          if obj.img
            img.img-responsive(src= obj.img)
          else
            .no-image
          label.meta= obj.humanId || obj._id

      .col-sm-6
        h2= obj.name
        if obj.creator
          h3.creator= obj.creator

        p= obj.description

block footer
  a.back(href="/discover") &larr; Go back