#header {
  .io-logo {
    display: block;
    width: 200px;
    height: 160px;
    margin: 20px auto;
    background: url(../images/io-logo.png) no-repeat;
    background-size: 100% auto;
  }
}
#home {
  text-transform: uppercase;
  .container {
    margin: 30px auto;
  }
  h2 {
    display: inline-block;
  }
  .shapes {
    a {
      color: black;
      text-decoration: none;
      text-align: center;
      display: block;
      padding-bottom: 280px;
      h2 {
        height: 70px;
      }
    }
    .pyramid {
      background: url(../images/shape-pyramid.png) no-repeat;
      background-position: center bottom;
      background-size: 66% auto;
    }
    .cube {
      background: url(../images/shape-cube.png) no-repeat;
      background-position: center bottom;
      background-size: 66% auto;
    }
  }
  .counter {
    font-size: 32px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    .digit {
      border-left: 1px solid black;
      border-right: 1px solid black;
    }
  }
  .upcoming-labs, .explore {
    border-top: 1px solid black;
  }
}
#footer {
  margin-top: 30px;
  border-top: 1px solid @gray-lighter;
  padding-top: 30px;
  color: @gray-light;
}
