body{
  font-family: 'Gotham SSm A', 'Gotham SSm B'; font-weight: 400; font-style: normal;
  letter-spacing: 2px;
  font-size: 12px;
  background:white;
}
h1, h2, h3, .h1, .h2, .h3{
  letter-spacing: 3px;
  font-weight: 600;
  text-transform: uppercase;
  margin:0;
  padding:24px 0 24px;
}
h2, .h2{
  font-size: 20px;
}
h3, .h3{
  font-size: 16px;
}
p {
  margin-bottom: 24px;
}
canvas{
  background:white;
}
#header {
  .container {
    margin:0 auto;
  }
  .io-logo {
    display: block;
    width: 209px;
    height: 160px;
    margin: 20px auto;
    background: url(../images/io-logo.2.png) no-repeat;
  }
  .strapline {
    display: block;
    width:22em;
    padding:5px 10px;
    border-left:solid 1px #333;
    position: relative;
    left:220px;
    top:60px;
    font-size: 16px;
    font-style:italic;
    color:#333;
    background: -webkit-linear-gradient(left, #333, #eee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .strapline:hover{
    text-decoration: none;
  }
}
#header.small-header {
  border-bottom: 1px solid black;
  margin-bottom: 30px;
  .io-logo {
    width: 80px;
    height: 60px;
    margin: 12px 0 14px 0px;
    background-size: 100%;
  }
}
#header-mini {
  position: fixed;
  top: -81px;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #333;
  z-index: 1;
  background: #fff url(../images/io-logo-mini.png) no-repeat right center;
  transition: top 0.25s ease-in;
}
@media (max-width: @screen-tablet) {
  html.off-top #header-mini {
    top: 0;
  }
}
#body{
  min-height: 400px;
}
#footer {
  margin-top: 30px;
  padding:30px 0 30px;
  color: @gray-light;

  .back{
    color:#333;
    font-weight:200;
    font-size: 20px;
    font-style:italic;
  }
}
.home #footer .back {
  display: none;
}
.container {
  margin: 30px auto;
}
#home{
  .shapes {
    margin-top:40px;

    h2{
      font-weight: 300;
      font-size: 16px;
    }
    a {
      color: black;
      text-decoration: none;
      text-align: center;
      display: none;
      h2 {
        height: 50px;
      }
    }
  }
  #counter {
    font-size: 26px;
    padding: 0;
    border: 1px solid black;
    span {
      padding: 15px 30px;
    }
    .digit {
      display: inline-block;
      text-align: center;
      border-right: 1px solid black;
    }
  }
}
#upcoming-labs {
  ul {
    li {
      text-transform: uppercase;
      margin-bottom: 20px;
      font-size: 14px;
      font-weight: 300;
      line-height: 2em;
      border-bottom: 1px dashed black;
      a, a :hover {
        color: black;
      }
    }
  }
  .date{
    width:11em;
    display: inline-block;
  }
  .register{
    text-transform: capitalize;
    color:#999999;
    visibility: hidden;
    padding-right: 1em;
  }
  li:hover .register{
    visibility: visible;
  }
}
#explore {
  .square {
    display: inline-block;
    position: relative;
    width: 19%;
    min-width: 150px;
    margin: 0 1% 20px 0;

    .content{
      position: absolute;
      top: 45%;
      left: 0;
      bottom: 0;
      right: 0;
      text-align: center;

      span {
        min-width:60%;
        margin:0 auto;
        padding: 5px;
        background: white;
        color: black;
        font-weight: 300;
        letter-spacing: 3px;
        text-transform: uppercase;
        font-size:14px;
      }
    }
  }
  .square:last-child{
    margin-right: 0;
  }
  .square:before{
    content: "";
    display: block;
    padding-top: 100%; 	/* ratio of 1:1*/
  }
  .polka {
    background: url(/images/gif/dots.gif) no-repeat;
    background-size: 100% auto;
  }
  .dashed-right {
    background: url(../images/gif/lines.gif) no-repeat;
    background-size: 100% auto;
  }
  .dashed-left {
    background: url(../images/gif/line_lines.gif) no-repeat;
    background-size: 100% auto;
  }
  .hatched {
    background: url(../images/gif/square.gif) no-repeat;
    background-size: 100% auto;
  }
  .crossed {
    background: url(../images/gif/ex5.gif) no-repeat;
    background-size: 100% auto;
  }
}

body.practice{
  h3 {
  border:solid 1px #333;
  padding: 10px 14px;
  margin:20px 0;
  font-weight: 200;
  }
  .inspiration{
    background: black;
    text-align: center;
    margin-bottom: 20px;
  }
  .cards .card {
    border:solid 1px #333;
    width: 220px;
    height:210px;
    font-size:20px;
    font-weight:200;
    margin: 0 20px 26px 0;
  }
  .card{
    font-size:50px;
    display: inline-block;
    vertical-align: middle;
    letter-spacing:10px;
    padding: 40px 10px;
    text-transform: uppercase;
    text-align: center;
  }
  .card:before{
    content:"";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}


#lab {
  iframe {
    border: none;
  }
}

#questionnaire {
  position: absolute;
  top: 101px;
  bottom: 5px;
  left: 0;
  right: 0;
}
#questionnaire .typeform-widget {
  height: 100% !important;
}

@media (min-width: 600px) {
  #home .shapes a {
	  display: block;
  }
}

@media (max-width: @screen-lg-desktop) {
  #home {
    #explore {
      .row {
        a.square {
          font-size: 20px;
        }
      }
    }
  }
}
@media (max-width: @screen-desktop) {
  #home {
    #explore {
      .row {
        a.square {
          font-size: 15px;
        }
      }
    }
  }
}

@media (max-width: @screen-tablet) {
  #home {
    h3, .h3 {
      font-size: 16px;
    }
    #counter {
      font-size: 16px;
      span {
        padding: 5px;
      }
    }
    #explore {
      .row {
        a.square {
        }
      }
    }
  }
}

@media (max-width: @screen-phone) {
  #home {
    #explore {
      .row {
        a.square {
          font-size: 10px;
        }
      }
    }
  }
}