// Override Bootstrap variables in this file, e.g.
@font-family-serif: "Baskerville", Georgia, "Times New Roman", Times, serif;
@font-size-base: 14px;
@container-large-desktop: ((980px + @grid-gutter-width));