h2 Intimate Objects: Intimacy Lab Participant Information Sheet (on website and sent as part of registration email)

p The Intimacy Lab you are signing up for is part of a research project. Please take time to read the following information carefully and to decide whether or not you want to take part. Feel free to email us with questions if anything you read is not clear or if you would like more information.

p If you decide to sign up to the Intimacy Lab, on your arrival we will give you a copy of this sheet, confirm you have read it, give you a checklist of consent to complete, we will note your verbal consent for our records.

h3 What is the purpose of the project?
p The project is a collaboration between academic researchers at the University of Bristol and a creative company, it is funded by a REACT (Research and Enterprise in Arts and Creative Technology) grant with the aim of developing new digital technologies and businesses.  This means that this project will have both commercial and academic applications. 

p The study has two main objectives:
ol 
  li To conduct research that will inform the development of a website that will enable people to design their own ‘intimate objects’ digitally which they can then choose to get 3D printed. More broadly, the website is intended to be an intimate space, where questions and activities allow exploration and reflection on experiences of sex and intimacy. 
    p We hope this website might offer an alternative to mass produced sex toys, and will become a commercial business, designs will be open-sourced using a creative commons license, our business model has a sharing, community ethos at its centre. 

    p We don’t want to assume that everyone will interpret the idea of ‘intimate objects’, sex, intimacy or the relationship between them in the same way. We want the design of this website to be informed by research with real people, and their ideas, practices and desires. So we aim to build an understanding of what is important to our participants (you) so we can create a successful intimate, virtual space for connection, creativity and diversity.

  li To conduct research that will contribute to academic understandings of the diversity of relationships, forms of intimacy, sexualities and sexual practices.

h3 How will this be done?
p We will be collecting data through sorting, writing and voice recording activities, the objects you create, online questionnaires and and, at a later stage in the research process, unstructured interviews. We will also be doing participant observation during the workshop, this means we will be chatting, hanging out, observing activities and interactions and noting this all down after the workshop. 

h3 Do I have to take part?
p No, participation is entirely voluntary. However, as research will be conducted through participant observation, if you do not wish to take part in the study, you should not join the Intimacy Lab. 

h3 What do I have to do?
p We will be observing the lab and chatting with participants as they design their own ‘intimate objects’, we might ask questions about what you’re doing, you do not have to answer anything feel uncomfortable with. Conversations will likely develop organically around the general topic of  relationships, intimacy, sex and sexuality, you are not obliged to take part in any conversations you do not wish to. We will also be coordinating some sorting, writing and narrative recording activities to gather additional data, you do not have to take part in these if you do wish. At the end of the session we will check with you again about what you are happy to have included, if anything, on the Intimate Objects website.

h3 What will happen to the objects I make?
p We will keep the objects as part of our study and photograph and scan them to create images and a design file to use for our research. If you choose to allow us to include your object and accompanying materials on the Intimate Objects website, the images and design file will be made available for download on the website along with any writings, drawings or audio recordings you create. You cannot take the object you create home because at the moment we cannot guarantee they are body safe. The objects and written and verbal information accompanying information will be kept safely (under lock and key) and will be posted online without other identifiable details. 

h3 Can I withdraw at anytime?  
p You can leave at anytime and we will dispose of your object and any other writing, drawings, recordings you have done. 

h3 If I withdraw from the study can I still use the ‘intimate objects’ commercial service? 
p Yes. You are welcome to use the commercial service, and remain a part of our mailing list, facebook page etc. and we hope you do!

h3 How will the findings be used?
p The research findings will inform the prototype develop of the ‘Intimate Objects’ website, the aim is that this website will have commercial potential, but also be open source, so object designs can be shared.  The research will also be disseminated in academic arenas such as conferences, journals and books. All aspects of the research will be fully anonymised and so participation in the study will be confidential. 

h3 Will my taking part in the study be kept confidential? 
p You do not need to tell us your name or address to take part and any mailing list information will be kept securely and separately from any data gathered. 

p 
  i If you do not consent to the inclusion of any of your materials on the Intimate Objects website
  span , your data (including images, recordings, written and drawn materials) will be stored securely in a database only accessible to the research team. In addition, any data included in the write-up of our research will be strictly anonymized with participants given pseudonyms. 

p 
  i If you consent to the inclusion of your materials on the Intimate Objects website
  span , you will be given a choice about which of the writings, drawings, narrative recordings and/or objects you create will be included on our websites. You will also be given the option of whether the posted version of your narrative recordings will have your voice anonymised.  In addition, your data (including images, recordings, written and drawn materials) will be stored securely in a database only accessible to the research team. Any data included in the write-up of our research will be strictly anonymized with participants given pseudonyms.  

h3 What are the possible disadvantages and risks of taking part?
p You are not obliged to answer any question that you feel uncomfortable with and you can stop the research process at any time. It is extremely unlikely that any harm could come from taking part in this research project. If you have concerns about any aspect of this study, you should talk to the researchers who will do their best to answer your questions. If you are still unhappy and wish to complain formally you can do this through the University of Bristol official complaints procedure (add appropriate contact details). 

h2 Checklist of Consent

h3 I understand and agree to the following:
ul
  li By taking part in the intimacy lab I consent to taking part in participant observation research
  li I consent to my writing, drawings, narrative recordings and/ or objects being used for analysis unless I withdraw them
  li I consent to my writing, drawings, narrative recordings and/ or objects being included on the Intimate Objects website  (cross out any that do not apply)
  li I would like my voice to be anonymised in the narrative recording when it is posted on the website
h3 I am aware that:
ul
  li I do not have to take part in any conversations or activities I am not comfortable with
  li I am free to withdraw from the study at anytime, I understand that this will entail leaving the intimacy lab.
  li I am free to withdraw my object from the study up to the end of the intimacy lab. This means object will be disposed of immediately.
  li Objects made in the intimacy lab are not body safe.
  li The research will be used to inform a commercial business prototype as well as academic research. 

h3 Contact information: 
p Dr Mwenza Blell, mwenza.blell@bristol.ac.uk, 0117 9287827
p Dr Sarah Winkler Reid, sarah.winklerreid@bristol.ac.uk, 0117 954607
